<div class="container">
    <h3>Projects</h3>
    <button type="button" class="btn btn-primary">Create New</button>
    <table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th st-sort="name">Name</th>
		<th st-sort="asms">ASMS</th>
		<th st-sort="creationDate">Creation Date</th>
		<th st-sort="active">Active</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in projects">
		<td>{{row.name | uppercase}}</td>
		<td>{{row.asms}}</td>
		<td>{{row.creationDate | date}}</td>
		<td>{{row.active}}</td>
		<td>
			<button type="button" ng-click="removeRow(row)" class="btn btn-sm btn-danger">
				<i class="glyphicon glyphicon-remove-circle">
				</i>
			</button>
		</td>
	</tr>
	</tbody>
</table>
</table>
</div>